body, html, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

form {
    margin: 20px;
}

.chevron-chart {
	text-align: center;
    width: 100%;
}

.chevron-chart ul {
    list-style: none;
    padding: 0;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

.chevron-segment {
    height: 100px;
	position: relative;
}

.chevron-segment-before {
    content: '';
    position: absolute;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute; 
    left: -20px; 
    top: 0;
    z-index: 1;
}

.chevron-segment-after {
    content: '';
    position: absolute;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute; 
    right: 0; 
    top: 0;
}

.chevron-segment:last-child .chevron-segment-after {
    border-right: 20px solid white !important;
}

@media (max-width: 600px) {
    .app {
        justify-content: space-between;
        position: relative;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .chevron-chart {
        display: flex;
        flex-direction: column;
        width: 100vh;
        position: absolute;
        top: 100%;
        transform: rotate(-90deg);
        transform-origin: 0 0;
    }
}